@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
* {
  font-family: monospace;
  font-size: 1em;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background: #111111;
}

h1{
  font-size: 4em;
  text-align: center;
  color: gainsboro;
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 2px 2px 4px black;
  font-weight: 300;
}
h2{
  font-size: 3em;
  color: powderblue;
  font-weight: 100;
  font-family: 'Mr Dafoe', cursive;
  margin-bottom: -.3em;
}
#main{
    position: absolute;
    position:relative;
    margin:0 auto;
    margin: auto;
    z-index: 0;
}
.songs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.songs div{
  position: inherit;
  color: white;
  max-width: 30em;
  padding: 0 2em;
  border-right: 3px salmon solid;
}

.songs div:last-child{
  border-right: 0;
}
.spaced{
    letter-spacing: 5px;
}
#spin{
   min-width: 100vw;
   min-height: 100vh;
   position: absolute;
   top:0;
   left:0;
   overflow: hidden;
   text-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-flex;
   display: flex;
   z-index: -9999;
   /* animation: spin 100s linear infinite; */
}
#spin::before {
   content: "";
   width: 100vw;
   height: 100vw;
   position: absolute;
   animation: spin 100s linear infinite;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   transition: background-image 1s;
}
.default::before {
    background-image: url('default-bg.png');
}
.tranz::before {
    background-image: url('tranz.jpg');
    filter: blur(7px) brightness(70%);
    -webkit-filter: blur(7px) brightness(70%);
}
.sorcererz::before {
    background-image: url('sorcererz.png');
    filter: blur(7px) brightness(70%);
    -webkit-filter: blur(7px) brightness(70%);
}
.onepercent::before {
    background-image: url('onepercent.jpg');
    filter: blur(7px) brightness(70%);
    -webkit-filter: blur(7px) brightness(70%);
    animation: spin 1000s linear infinite;
}
.fireflies::before {
    background-image: url('fireflies.jpg');
    filter: blur(7px) brightness(70%);
    -webkit-filter: blur(7px) brightness(70%);
}
.soukeye::before {

    background-image: url('soukeye.png');
    filter: blur(7px) brightness(70%);
    -webkit-filter: blur(7px) brightness(70%);
}
.kansas::before {
    background-image: url('kansas.jpg');
    filter: blur(7px) brightness(70%);
    -webkit-filter: blur(7px) brightness(70%);
}
#stop{
    width: 50%;
    margin: auto;
}

@keyframes spin {
   0% {
      transform: rotate(0deg) scale(1.2);
   }
   100% {
      transform: rotate(360deg) scale(1.2);
   }
}
