* {
  font-family: 'Open Sans',Helvetica, Arial, sans-serif;
  font-size: 1em;
}

body{
  background: darkgrey;
}
header{
  display: none;
}
hr {
  width: 50%;
  color: deepskyblue;
}

h1{
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
  text-align: center;
  color: navy;
}
h2{
  font-family: 'Rock Salt', cursive;
  margin-top: 1em;
  font-size: 2em;
  text-align: center;
  color: powderblue;
}
h3{
  font-size: 1.5em;
  color: powderblue;
  font-weight: 300;
}
#blur{
  background: url('https://flavorwire.files.wordpress.com/2015/02/blur_63.jpg') center bottom;
  background-size: cover;
  background-attachment: scroll;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px) contrast(20%) grayscale(100%);
  height: 100vh;
  width: 120%;
  left: -10%;
  position: fixed;
  top: 0;
  z-index: -9999999;
}
#gorillaz{
  background: url('https://pbs.twimg.com/media/C8bO0V6UwAA5hIn.jpg') center center;
  background-size: cover;
  background-attachment: scroll;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px) contrast(20%) grayscale(100%);
  height: 100vh;
  width: 120%;
  left: -10%;
  position: fixed;
  top: 50%;
  z-index: -9999999;
}

#horoscope{
  background: url('http://s1.1zoom.me/big0/508/Planets_Saturn_planet_Planetary_ring_519539_1280x720.jpg') center center;
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px) contrast(20%) grayscale(100%);
  height: 50vh;
  width: 120%;
  left: -10%;
  position: fixed;
  z-index: -9999998;
}

.signs{
  position: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5em;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}
.signs div{
  position: inherit;
  color: white;
  max-width: 30em;
  padding: 0 2em;
  border-right: 3px salmon solid;
}

.signs div:last-child{
  border-right: 0;
}

.songs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5em;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}


.songs div{
  position: inherit;
  color: white;
  max-width: 30em;
  padding: 0 2em;
  border-right: 3px salmon solid;
}

.songs div:last-child{
  border-right: 0;
}
