@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html, body {
   margin: 0;
   width: 100%;
   height: 100%;
}

body {
   background: #000;
}

#spin {
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;

   text-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-flex;
   display: flex;
}

#spin::before {
   background: url("https://78.media.tumblr.com/e3a103336ec4ea2db0e11a65f4d9bfef/tumblr_ohktksJ6hq1s9bhuwo1_r3_500.jpg")
      no-repeat center center;
      filter: blur(7px) brightness(70%);
      -webkit-filter: blur(7px) brightness(70%);
   background-size: cover;
   content: "";
   width: 100vw;
   height: 100vw;
   position: absolute;
   animation: spin 100s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg) scale(1.2);
   }
   100% {
      transform: rotate(360deg) scale(1.2);
   }
}


.content {
  font-family: sans-serif;
    font-size: 1.1em;
    background: rgba(0, 0, 0, 0.7);
    border: 4px white solid;
   line-height: 0;
   color: #fff;
   position: relative;
   margin: 0 auto;
   width: 800px;
   padding: 20px;
   z-index: 1;
}

.title {
  font-family: 'Roboto Slab', serif;
  margin-top: -3px;
   margin-bottom: 1em;
   padding: 0;
   font-weight: bold;
   font-size: 4vw;
   line-height: 3vw;
}

#foot{
  display: block
  position: relative;
  bottom: 9px;
  margin: 0 auto;
  font-family: fantasy;
  color: white;
}
